package uatype

const ({{range .}}{{$name := index . 0}}{{$code := index . 1}}{{$msg := index . 2}}
	Status{{$name}} StatusCode = {{$code}}{{end}}
)

var statusText = map[StatusCode]string{ {{range .}}{{$name := index . 0}}{{$code := index . 1}}{{$msg := index . 2}}
	Status{{$name}}: "{{trimSuffix $msg "."|firstLower}}",{{end}}
}
